<h3 class="mt-3">Agregar información del producto</h3>

<hr>

<form [formGroup]="colorForm">    
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label>Email</label>
        </div>

        <div class="col-auto">
            <input class="form-control" formControlName="name" type="text">
        </div>

        <div class="col-auto">
            <!-- Se añade la directiva personalizada "customLabel" -->
            <span
                class="fw-bold"
                customLabel
                [color]="color"
                [errors]="colorForm.get('name')?.errors"
            >
                Resultado del color
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="changeColor()">Cambiar el color</button>
        </div>
    </div>
</form>

<div>
    <p class="mt-5">Color establecido = <strong>{{ color }}</strong></p>
    <span class="fw-bold">ERRORES</span>
    <pre class="mt-2">{{ colorForm.get('name')?.errors | json }}</pre>   
</div>

<div class="mt-5">
   <button class="btn btn-warning fw-bold" [routerLink]="['/signals/counter']">Ir a las Signals</button>
</div>

